
.features{
    @include reset-list();
    justify-content: space-between;
    width: 643px;
    background-color: $color-background;
  article{
    @include reset-list();
    flex-direction: column;
    padding: 32px;
    text-align: center;
    }
    img{
    width: 70px;
    height: 70px;
    background-color: $color-secondary;
    border-radius: 50%;
    }

}
