
.features{
    @include reset-list();
    justify-content: space-between;
    width: 643px;
    background-color: $color-background;

  article{
    @include reset-list();
    flex-direction: column;
    padding: 32px;
    text-align: center;
  }

  .feature-icon{
    width: 72px;
    height: 72px;
    background-color: $color-secondary;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  
  
    img{
        width: 56px;
        height: 56px;
    }

  }
  
}
