.hero {
    width: 809px;
    margin-top: 80px;

    p{
        margin-top: 32px;
        font-size: 24px;
        width: 95%;
    }
    ul{
        @include reset-list();
        font-size: 18px;
        gap: 32px;
        margin-top: 56px;
        margin-bottom: 90px;
    }

    .button-watch{
        display: flex;
        align-items: center;
        gap: 16px;
        text-decoration: none;
        color: $color-primary;
        font-size: 18px;
        transition: opacity .3s ease;
        &:hover {
            opacity: .7;
        }
    } 

    .play-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background-color: $color-background;
        border-radius: 50%;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

    }
}





