h1{
    font-size: 68px;
    margin-top: 70px;
    margin-bottom: 0;
    line-height: 1.1;
}


h3{
    font-weight: 400;
}

a{
    font-size: 16px;
}

p{
    color: $color-subtext;
    font-size: 16px;
    margin-block: 15px;
}

.groceries {
  color: $color-primary;
}