header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
    .login{
        ul {
            @include reset-list();
            gap: 40px;
        }
    }

    .nav-icons{
        ul {
            @include reset-list();
            gap: 40px;  
        } 
    } 
    .botton-signin{
        color: $color-primary;
    }    
}



