header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
    .login{
        ul {
            @include reset-list();
            gap: 40px;
        }
    }

    .nav-icons{
        ul {
            @include reset-list();
            gap: 40px; 
            margin-left: 300px; 
        } 
    } 
    .button-signin{
        color: $color-primary;
        &:hover {
            opacity: .7;
            transform: translateY(-2px);
        }
    }    
}



