// Colors

$color-primary: #F26343;
$color-yellow: #F2AE00;
$color-text: #000;
$color-subtext: #9b9a98;
$color-background: #fff;
$color-search: #f4f4f4b0;

// Fonts

$primary-font: "Poppins", sans-serif; 
$secondary-font: "Roboto Slab", serif; 

//Container

$max-width-container: 1500px;
$min-height: 1080px;
$padding-container: 32px 120px;
