//Fonts

$roboto-font: "Roboto", sans-serif;
$primary-font: "Poppins", sans-serif;

//Colors

$color-primary: #2B4466;
$color-secondary: #A8D3CA;
$color-background: #fff;
$color-subtext: #9A9A9A;
$color-testimonial: #070D15;
$color-background-special: #fbfaf7;

//Container

$max-width-container: 1920px;
$min-height: 1080px;
$padding-container: 32px 120px;

